* {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to left, grey, salmon);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    border: black 2px solid;
    margin-bottom: 25px;
}

h1 {
    font-size: 300%;
    color:whitesmoke;
    font-family:serif;
    margin-left: 50px;
    display: flex;
    padding: 15px;
}

h2 {
    padding: 10px;
    color: whitesmoke;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 50px 0 auto;
    font-size: 150%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 20px; 
}

p {
    text-align: left;
    margin: auto;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 110%;
    color: whitesmoke;
}

#headshot {
    display: block;
    border: 5px solid grey;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

section {
    background-image: linear-gradient(to right, grey, salmon);
    border: black 2px solid;
    margin-bottom: 25px;
}

.contactList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 125%;
    color: whitesmoke;
}

.coffeeShop {
    border: black 2px solid;
    max-width: 25%;
    max-height: 25%;
}

.workSpace {
    border: black 2px solid;
    max-width: 25%;
    max-height: 25%;
}

.Horiseon {
    border: black 2px solid;
    max-width: 50%;
    max-height: 40%;
}

#AboutMe {
    border: black 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(salmon, grey);
}

#Work {
    border: black 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(grey, salmon);
}

#Contact {
    border: black 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(salmon, grey);
}


.workPics {
    display: flex;
    border: black 2px solid;
    max-width: 25%;
    max-height: 25%;
}

.workSection {
    display: flex;
    width: 800px;
    height: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: auto;
    margin-bottom: 25px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

