* {
    box-sizing: border-box;
}
header {
    background-image:url(simple_background.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 300%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font: grey;
    margin-left: 50px;
    display: flex;
    background-color: salmon;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 10px 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 5px; 
}

p {
    text-align: left;
    margin-left: 450px;
    margin-right: 225px;
}


#headshot {
    display: block;
    border: 5px solid salmon;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

section {
    background-image: linear-gradient(to right, grey, salmon);
}

.workSection {
    display: flex;
    width: 1000px;
    height: 700px;
    padding: 10px;
    border: 5px solid gray;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

.contactList {
    display: flex;
    justify-content: space-evenly;
}

.workPics {
    border:indigo 2px solid;
    max-width: 100%;
}

.coffeeShop {
    border: black 2px solid;
    max-width: 50%;
    max-height: 50%;
}

.workSpace {
    border: black 2px solid;
    max-width: 50%;
    max-height: 50%;
}

.bike {
    border: black 2px solid;
    max-width: 50%;
    max-height: 50%;
}

#AboutMe {
    border: purple 2px solid;
}





