* {
    box-sizing: border-box;
}

/* styling the header with color, borders, and margins*/
header {
    background-image: linear-gradient(to left, grey, salmon);
    display: flex;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}

/* styling my name */
h1 {
    font-size: 350%;
    color: whitesmoke;
    border: whitesmoke 2px dotted;
    border-radius: 20px;
    font-family:serif;
    margin-left: 50px;
    display: flex;
    padding: 15px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

h2 {
    padding: 5px;
    margin: 35px 750px 20px 750px;
    color: whitesmoke;
    font-size: 250%;
    text-align: center;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    display: flex;
    justify-content: center;
    border: whitesmoke 2px dotted;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 50px 0 auto;
    font-size: 150%;
}

/* flexing nav bar to the right */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 20px; 
}

p {
    text-align: left;
    margin: 0px 400px;
    padding: 0px 10px 10px 10px;
    font-size: 120%;
    color: whitesmoke;
}

/* giving my headshot some styling*/
#headshot {
    display: block;
    border: 2px dotted whitesmoke;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* adding color to the background of my image */
section {
    background-image: linear-gradient(to right, grey, salmon);
    border: white 2px solid;
    border-radius: 20px;
    margin-bottom: 25px;
}

/* styling the contact section */
.contactList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 125%;
    color: whitesmoke;
}

/* styling each section */
#AboutMe {
    border: white 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(salmon, grey);
    border-radius: 20px;
}

#work {
    border: white 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(grey, salmon);
    border-radius: 20px;
}

#Contact {
    border: white 2px solid;
    margin-bottom: 25px;
    background-image: linear-gradient(salmon, grey);
    border-radius: 20px;
}

/* styling and positioning items within work box */
.workSection {
    display: flex;
    width: 800px;
    height: 500px;
    padding: 10px;
    border: 2px dotted whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px whitesmoke dotted;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    position: relative;
}

.card h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    border: black 1px solid;
}
    
.card img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.cardLarger {
    display: flex;
    flex-direction: column;
    border: 2px dotted whitesmoke;
    border-radius: 20px;
    width: 330px;
    height: 225px;
    position: relative;
    overflow: hidden;
}

.cardLarger img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.cardLarger h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    border: black 1px solid;
}

/* adjusting image layout so it stacks when screen size is smaller */
@media screen and (max-width: 768px) {
    
    .workSection {
        display: flex;
        flex-wrap: wrap;
        display: block;
        padding: 10px;
        border: 5px solid gray;
        margin: auto;
        margin-bottom: 25px;
        justify-content: space-between;
    }

@media screen and (max-width: 540px) {
    /* stacking links in nav bar */
    nav ul {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }

    /* adjusting image size */
    .card {
        height: 50%;
        width: 50%;
    }

    .card img {
        height: 50%;
        width: 50%;
    }

    /* stacking contact info */
    .contactList {
        display: flex;
        flex-direction: column; 
        text-align: center;
        line-height: 1.5;
    }

}
    
@media screen and (max-width: 400px) {

}